<h2 class="text-center">Araba Listesi</h2>
<div *ngIf="dataLoaded == false" class="d-flex justify-content-center">
  <div class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<app-car-filter></app-car-filter>

<table *ngIf="dataLoaded == true" class="table table-success table-striped">
  <thead>
    <tr>
      <th>Araba Numarası</th>
      <th>Marka</th>
      <th>Model</th>
      <th>Renk</th>
      <th>Model Yili</th>
      <th>Günlük Kirası</th>
      <th>Açıklama</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of cardetails">
      <td>{{ car.carId }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.carName }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{car.modelYear}}</td>
      <td>{{ car.dailyPrice }} ₺</td>
      <td>{{ car.description }}</td>
      <td> <button routerLink="/cars/cardetail/{{ car.carId }}" type="button" class="btn btn-warning">
        Detaylar
    </button></td>
  </tr>
  </tbody>
